<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education</h2>

        <div class="content">
            <div class="item">
                <h3 class="title"><i class="fa fa-graduation-cap"></i> Analise e desenvolvimento de sistemas
                </h3>
                <h4 class="university">FATENE - Faculdade de Tecnologia do Nordeste <span class="year">(2011-2014)</span></h4>
            </div>
            <!--//item-->
            <div class="item">
                <h3 class="title"><i class="fa fa-graduation-cap"></i> Especialização em arquitetura, design e implementação de sistemas para internet</h3>
                <h4 class="university">FA7 - Faculdade 7 de Setembro <span class="year">(2015-2017)</span></h4>
            </div>
            <!--//item-->
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->
