<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Informações Basicas</h2>

        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span class="sr-only">Local:</span>Ceará, Brasil
                </li>
                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:me@clairtonluz.com.br" target="_top">me@clairtonluz.com.br</a>
                </li>
                <li><i class="fa fa-link"></i><span class="sr-only">Blog:</span><a href="http://blog.clairtonluz.com.br">http://blog.clairtonluz.com.br</a>
                </li>
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//aside-->
