<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">About me</h2>

        <div class="content">
            <p class="intro">
                Sou um desenvolvedor apaixonado por novas tecnologias e inovações. Atualmente trabalho com Java, JSF
                e JavaFX8. Quando não estou trabalhando gosto de estudar e me atualizar nas novas tecnologias. Atualmente
                estou estudando <a href="https://angularjs.org/">AngularJS</a> e <a href="https://nodejs.org/">NodeJS</a>, quando tenho tempo crio algum projeto
                para praticar o que estudei.
            </p>

            <div class="skillset">

                <div class="item">
                    <h3 class="level-title">Java &amp; JSF<span class="level-label">Advanced</span>
                    </h3>

                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="89%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">SQL<span class="level-label">Intermediate</span>
                    </h3>

                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="69%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">JavaFX<span class="level-label">Intermediate</span>
                    </h3>

                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Intermediate</span>
                    </h3>

                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="50%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">AngularJS &amp; NodeJS<span
                        class="level-label">Basic</span></h3>

                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="36%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <p><a class="more-link" href="https://www.linkedin.com/profile/view?id=AAMAABDrApwBKb3iQ4VTHQbpZQ6kXwRcdoXWLDk&trk=hp-identity-name"><i class="fa fa-external-link"></i> Mais no Linkedin</a>
                </p>
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->
